<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AutoCertified</title>

</head>
<body>
	<button id="load">Load</button>
	<button id="downloadSVG">Download as SVG</button>
	<button id="downloadPNG">Download as PNG</button>
	<div id="svgDiv"></div>
	
	<script src="https://rawgit.com/exupero/saveSvgAsPng/gh-pages/saveSvgAsPng.js"></script>
    <script src="https://rawgit.com/MrRio/jsPDF/master/dist/jspdf.debug.js"></script>
	<script src="/js/svg_to_pdf.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script src="/js/pablo.js"></script>
	<script src="/js/index.js"></script>

</body>
</html>